<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.snipme.record"
      version="0.1.0">
    <name>RecordVideo</name>
    <description>Sample PhoneGap Record video Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,record</keywords>


    <js-module src="www/recordvideo.js" name="RecordVideo">
        <clobbers target="window.recordvideo" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="RecordVideo">
                <param name="android-package" value="com.snipme.record.RecordVideo"/>
            </feature>
        </config-file>

        <source-file src="src/android/RecordVideo.java" target-dir="src/com/snipme/record" />      
     </platform>          
</plugin>